wp-content/themes/ami/assets/pug/contact.pug
extends blocks/layout
block vars
    - var mainClass = 'contact-page';
block title
    title Contact page
block content

    main#main(class=mainClass)
        #googleMap(data-lat="52.0924353" data-lng="5.134511999999972" data-title="company name" data-address="Your Address Added Here" data-icon="../images/sale.png")
        .row
            .column.small-12
                include blocks/breadcrumb
                .content-page
                    h1 Contact
            .info-contact.column.small-12
                .row
                    .columns.small-12.medium-4
                        .inner.logo
                            a(href="#")
                                img(src="../images/logo_rome.png", alt="")
                    .columns.small-12.medium-8
                        .inner
                            .company-line
                                h2 company name
                                .socials
                                    a.fb(href="#")
                                    a.tw(href="#")
                                    a.linked(href="#")
                            .contact-detail
                                p.phone
                                    a(href="tel:8008008000") 800 800 8000
                                p.fax 800 800 8000
                                p.email
                                    a(href="mailto:test@test.com") test@test.com
                                p.address Your Address Added Here
                    .columns.small-12
                        .wp-editor
                            p Whether you’re looking for property for sale in New York area or property for rent, WP Residence makes searching easy. Use our unique geolocation mapping feature to root-out your ideal villa, townhouse or apartment and contact the owners direct. We will help you find your dream house in just a few seconds.
                            p We offer our clients a wealth of knowledge regarding all aspects of purchasing or selling a home. Whether it is helping you search for your dream home, discussing new New York real estate developments, or assisting with the sale of your property, we would love the opportunity to help. Please feel free to contact us with any questions!
            .column.small-12
                .wp-editor
                    .gform_wrapper
                        form(action="#")
                            .validation_error Message error
                            .gform_heading
                                h3.gform_title Title form
                                span.gform_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!
                            .gform_body
                                ul.gform_fields
                                    li.gfield.gfield_contains_required.col-3
                                        label.gfield_label Your name
                                        .ginput_container
                                            input(type="text")
                                    li.gfield.gfield_error.gfield_contains_required.col-3
                                        label.gfield_label Your Email
                                            span.gfield_required *
                                        .ginput_container
                                            input(type="email")
                                        .validation_message Validate message
                                    li.gfield.gfield_contains_required.col-3
                                        label.gfield_label Subject
                                        .ginput_container
                                            input(type="text")
                                    li.gfield.gfield_contains_required
                                        label.gfield_label Your Message
                                        .ginput_container
                                            textarea
                            .gform_footer
                                input(type="submit" value="submit").gform_button.button

wp-content/themes/ami/assets/html/contact.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--Stylesheet-->
    <link href="../css/screen.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
        <header id="header">
          <div class="row">
            <div class="columns">
              <div class="header__logo"><a href="#"><img src="../images/logo1.png"></a></div>
              <nav id="main-menu">
                <ul>
                  <li class="current-menu-item"><a href="index.html">Home</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="menu-item-has-children"><a href="default.html">Default</a><span class="icon"></span>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="#" title="">Dit is een sub menu</a><span class="icon"></span>
                        <ul class="sub-menu">
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                </ul>
              </nav>
              <div class="header__bottom">
                <div class="copyright">
                  <p>Amimigration © 2018</p>
                </div>
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="off-canvas-content" data-off-canvas-content><span class="link-panel" data-toggle="offCanvasLeft1"><span></span></span>
        <main class="contact-page" id="main">
          <div id="googleMap" data-lat="52.0924353" data-lng="5.134511999999972" data-title="company name" data-address="Your Address Added Here" data-icon="../images/sale.png"></div>
          <div class="row">
            <div class="column small-12">
              <div id="breadcrumbs"><span><span typeof="v:Breadcrumb"><a href="#">Home</a><span class="icon"></span><span><a href="#">Breadcrumb item 1</a><span class="icon"></span><span><a href="#">Breadcrumb item 2</a><span class="icon"></span><span>Current page</span></span></span></span></span></div>
              <div class="content-page">
                <h1>Contact</h1>
              </div>
            </div>
            <div class="info-contact column small-12">
              <div class="row">
                <div class="columns small-12 medium-4">
                  <div class="inner logo"><a href="#"><img src="../images/logo_rome.png" alt=""></a></div>
                </div>
                <div class="columns small-12 medium-8">
                  <div class="inner">
                    <div class="company-line">
                      <h2>company name</h2>
                      <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="linked" href="#"></a></div>
                    </div>
                    <div class="contact-detail">
                      <p class="phone"><a href="tel:8008008000">800 800 8000</a></p>
                      <p class="fax">800 800 8000</p>
                      <p class="email"><a href="mailto:test@test.com">test@test.com</a></p>
                      <p class="address">Your Address Added Here</p>
                    </div>
                  </div>
                </div>
                <div class="columns small-12">
                  <div class="wp-editor">
                    <p>Whether you’re looking for property for sale in New York area or property for rent, WP Residence makes searching easy. Use our unique geolocation mapping feature to root-out your ideal villa, townhouse or apartment and contact the owners direct. We will help you find your dream house in just a few seconds.</p>
                    <p>We offer our clients a wealth of knowledge regarding all aspects of purchasing or selling a home. Whether it is helping you search for your dream home, discussing new New York real estate developments, or assisting with the sale of your property, we would love the opportunity to help. Please feel free to contact us with any questions!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="column small-12">
              <div class="wp-editor">
                <div class="gform_wrapper">
                  <form action="#">
                    <div class="validation_error">Message error</div>
                    <div class="gform_heading">
                      <h3 class="gform_title">Title form</h3><span class="gform_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!</span>
                    </div>
                    <div class="gform_body">
                      <ul class="gform_fields">
                        <li class="gfield gfield_contains_required col-3">
                          <label class="gfield_label">Your name</label>
                          <div class="ginput_container">
                            <input type="text">
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required col-3">
                          <label class="gfield_label">Your Email<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <input type="email">
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required col-3">
                          <label class="gfield_label">Subject</label>
                          <div class="ginput_container">
                            <input type="text">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required">
                          <label class="gfield_label">Your Message</label>
                          <div class="ginput_container">
                            <textarea></textarea>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="gform_footer">
                      <input class="gform_button button" type="submit" value="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="sticky-block">
          <p class="sticky-block__title">Hoi, kan ik je helpen?</p>
          <div class="sticky-block__content">
            <div class="sticky-block__info">
              <div class="sticky-block__person"><img src="../images/quote1.jpg" alt="">
                <p>Orrin</p>
              </div>
              <div class="wp-editor">
                <p>Bij vragen en/of opmerkingen kun je mij tijdens kantoortijden bereiken op 085 40 16 344 of per mail op<br/><a href="mailto:test@test.com">test@test.com</a></p>
              </div>
            </div>
            <div class="gform_wrapper">
              <form action="#">
                <div class="validation_error">Message error</div>
                <div class="gform_heading">
                  <h3 class="gform_title">Title form</h3><span class="gform_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!</span>
                </div>
                <div class="gform_body">
                  <ul class="gform_fields">
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Naam<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <input type="text" placeholder="Naam">
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">E-mailadres</label>
                      <div class="ginput_container">
                        <input type="text" placeholder="E-mailadres">
                      </div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <textarea placeholder="Laat hier je vraag achter en ik kom zo snel mogelijk bij je terug!"></textarea>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">Checkbox input</label>
                      <div class="ginput_container ginput_container_checkbox">
                        <ul class="gfield_checkbox">
                          <li>
                            <input id="checkbox1" type="checkbox" name="checkbox">
                            <label for="checkbox1">Lorem ipsum &nbsp;<a href="#">algemene voorwaarden</a></label>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="gform_footer">
                  <input class="gform_button button" type="submit" value="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        <footer id="footer">
          <div class="footer__top" style="background-image: url('../images/testi_bg1.jpg');">
            <div class="row">
              <div class="columns small-12 medium-3">
                <ul class="menu">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">I want to improve my family’s Quality of Life</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                </ul><a href="#"><img src="../images/register.gif" alt=""></a>
              </div>
              <div class="columns small-12 medium-4">
                <div class="wp-editor">
                  <h3>SYDNEY HEAD OFFICE</h3>
                  <p>Suite 28, Level 1, Liberty Plaza, 256 Chapel Road South, Bankstown NSW 2200 Australia</p>
                  <h3>HO CHI MINH OFFICE</h3>
                  <p>Suite 1702, Level 17, Ruby Tower, 81 – 85 Ham Nghi Street, Nguyen Thai Binh Ward District 1 HCMC Vietnam</p>
                </div><span class="btn-2">Hotline in VN: 1800 2069</span>
              </div>
              <div class="columns small-12 medium-5 large-4 large-offset-1">
                <div class="gform_wrapper">
                  <form action="#">
                    <div class="validation_error">Message error</div>
                    <div class="gform_heading">
                      <h3 class="gform_title">Enquire Online</h3><span class="gform_description"></span>
                    </div>
                    <div class="gform_body">
                      <ul class="gform_fields">
                        <li class="gfield gfield_error gfield_contains_required col-2">
                          <label class="gfield_label">First name<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <input type="text" placeholder="First name">
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Last name</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Last name">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Email</label>
                          <div class="ginput_container">
                            <input type="email" placeholder="Email">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">City</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="City">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Age</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Age">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Mobile</label>
                          <div class="ginput_container">
                            <input type="number" placeholder="Mobile">
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Selectbox<span class="gfield_required">*</span></label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required">
                          <label class="gfield_label">Selectbox</label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <textarea placeholder="You can send us a message here"></textarea>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                      </ul>
                    </div>
                    <div class="gform_footer">
                      <input class="gform_button button" type="submit" value="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="row">
              <div class="columns small-12 medium-9">
                <p>Tien Thinh International Group Pty Ltd | ABN 47614436449 | info@ttimigration.com.au | Hotline in VN: 1800 2069</p>
                <p>Registered Migration Agent #1677976 |<a href="#"> Migration Agents Code of Conduct</a> | All Rights Reserved | Developed by<a href="#"> Flow Group</a></p>
              </div>
              <div class="columns small-12 medium-3">
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div><span class="scroll-top"></span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEorlK25R1V0WeC0zwcwyweiFAXII6S8"></script>
    <script src="../js/libs/jQuery.js"></script>
    <script src="../js/infobox.js"></script>
    <script src="../js/main.min.js"></script>
  </body>
</html>
