wp-content/themes/ami/assets/html/flexibleContent.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--Stylesheet-->
    <link href="../css/screen.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
        <header id="header">
          <div class="row">
            <div class="columns">
              <div class="header__logo"><a href="#"><img src="../images/logo1.png"></a></div>
              <nav id="main-menu">
                <ul>
                  <li class="current-menu-item"><a href="index.html">Home</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="menu-item-has-children"><a href="default.html">Default</a><span class="icon"></span>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="#" title="">Dit is een sub menu</a><span class="icon"></span>
                        <ul class="sub-menu">
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                </ul>
              </nav>
              <div class="header__bottom">
                <div class="copyright">
                  <p>Amimigration © 2018</p>
                </div>
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="off-canvas-content" data-off-canvas-content><span class="link-panel" data-toggle="offCanvasLeft1"><span></span></span>
        <main class="home-page" id="main">
          <div class="default-block bg-white-smoke text-right spacing-top-small">
            <div class="row">
              <div class="columns medium-6 small-12">
                <div class="wp-editor">
                  <h1>Heading h1</h1>
                  <h2>Heading h2</h2>
                  <h3>Heading h3</h3>
                  <h4>Heading h4</h4>
                  <h5>Heading h5</h5>
                  <h6>Heading h6</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!<a href="#"> This is text link</a></p>
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,<a href="#">nostrum vero facilis!</a></p>
                  </blockquote>
                  <figure class="wp-caption"><img src="images/login-logo.png" alt="">
                    <figcaption class="wp-caption-text">Dit is een foto onderschrift.</figcaption>
                  </figure><a class="sb-btn btn-primary" href="#">Button 1</a><a class="sb-btn btn-primary-outline" href="#">Button 1</a>
                </div>
              </div>
              <div class="columns medium-6 small-12"><img src="../images/default-image.png" alt=""></div>
            </div>
          </div>
          <div class="default-block spacing-top text-left">
            <div class="row">
              <div class="columns medium-6 small-12">
                <div class="wp-editor">
                  <h1>Heading h1</h1>
                  <h2>Heading h2</h2>
                  <h3>Heading h3</h3>
                  <h4>Heading h4</h4>
                  <h5>Heading h5</h5>
                  <h6>Heading h6</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!<a href="#"> This is text link</a></p>
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,<a href="#">nostrum vero facilis!</a></p>
                  </blockquote>
                  <figure class="wp-caption"><img src="images/login-logo.png" alt="">
                    <figcaption class="wp-caption-text">Dit is een foto onderschrift.</figcaption>
                  </figure><a class="sb-btn btn-primary" href="#">Button 1</a><a class="sb-btn btn-primary-outline" href="#">Button 1</a>
                </div>
              </div>
              <div class="columns medium-6 small-12"><img src="../images/default-image.png" alt=""></div>
            </div>
          </div>
          <div class="default-block bg-gray spacing-small text-center">
            <div class="row">
              <div class="columns medium-6 medium-order-2 small-12">
                <div class="wp-editor">
                  <h1>Heading h1</h1>
                  <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a></div>
                  <h2>Heading h2</h2>
                  <h3>Heading h3</h3>
                  <h4>Heading h4</h4>
                  <h5>Heading h5</h5>
                  <h6>Heading h6</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!<a href="#"> This is text link</a></p>
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,<a href="#">nostrum vero facilis!</a></p>
                  </blockquote>
                  <figure class="wp-caption"><img src="images/login-logo.png" alt="">
                    <figcaption class="wp-caption-text">Dit is een foto onderschrift.</figcaption>
                  </figure>
                  <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                  </ul>
                  <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                  </ol>
                  <table>
                    <tr>
                      <th>Table Heading</th>
                      <th>Table Heading</th>
                      <th>Table Heading</th>
                    </tr>
                    <tr>
                      <td>Table content</td>
                      <td>Table content</td>
                      <td>Table content</td>
                    </tr>
                    <tr>
                      <td>Table content</td>
                      <td>Table content</td>
                      <td>Table content</td>
                    </tr>
                  </table>
                  <table>
                    <thead>
                      <tr>
                        <td>Table content</td>
                        <td>Table content</td>
                        <td>Table content</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Table content</td>
                        <td>Table content</td>
                        <td>Table content</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="columns medium-6 medium-order-1 small-12"><img src="../images/default-image.png" alt=""></div>
            </div>
          </div>
          <div class="quote-block has-background font-light" style="background-image: url(../images/banner-quote.jpg);">
            <div class="row">
              <div class="column small-12">
                <p class="title">Hoe wij helpen anderen hun spaanse dromen waar te maken ...</p>
                <p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <div class="quote-block bg-gray font-dark has-icon txt-shadow">
            <div class="row">
              <div class="column small-12">
                <p class="title">Hoe wij helpen anderen hun spaanse dromen waar te maken ...</p>
                <p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="column small-12">
                <div class="action-button"><a class="sb-btn btn-primary-outline" href="#" title="Lees meer">Lees meer</a></div>
              </div>
            </div>
          </div>
          <div class="default-block text-left">
            <div class="row">
              <div class="columns small-12">
                <div class="wp-editor">
                  <h2>button 1</h2>
                  <p>test</p>
                  <p class="btn"><a class="sb-btn btn-primary" href="http://oncozon.mijnstaging.nl" title="Primary">Primary</a><a class="sb-btn btn-primary-outline" href="http://oncozon.mijnstaging.nl" title="Secondary">Primary outline</a></p>
                </div>
              </div>
              <div class="columns small-12 list-items">
                <ul class="grid-x grid-margin-y grid-margin-x small-up-1 medium-up-2 large-up-4">
                  <li class="cell"><a href="#" title="Verkeersongelukken">
                      <figure><img src="../images/blog1.jpg" alt="Verkeersongelukken"></figure>
                      <div class="blog-list__item-caption">
                        <p class="title">Lorem ipsum dolor sit  amet</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p><span class="sb-btn btn-primary">Lees artikel</span>
                      </div></a></li>
                  <li class="cell"><a href="#" title="Verkeersongelukken">
                      <figure><img src="../images/blog2.jpg" alt="Verkeersongelukken"></figure>
                      <div class="blog-list__item-caption">
                        <p class="title">Lorem ipsum dolor sit  amet</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p><span class="sb-btn btn-primary">Lees artikel</span>
                      </div></a></li>
                  <li class="cell"><a href="#" title="Verkeersongelukken">
                      <figure><img src="../images/blog3.jpg" alt="Verkeersongelukken"></figure>
                      <div class="blog-list__item-caption">
                        <p class="title">Lorem ipsum dolor sit  amet</p><span class="sb-btn btn-primary">Lees artikel</span>
                      </div></a></li>
                  <li class="cell"><a href="#" title="Verkeersongelukken">
                      <figure><img src="../images/blog1.jpg" alt="Verkeersongelukken"></figure>
                      <div class="blog-list__item-caption">
                        <p class="title">Lorem ipsum dolor sit  amet</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p><span class="sb-btn btn-primary">Lees artikel</span>
                      </div></a></li>
                </ul>
              </div>
            </div>
          </div>
        </main>
        <div class="sticky-block">
          <p class="sticky-block__title">Hoi, kan ik je helpen?</p>
          <div class="sticky-block__content">
            <div class="sticky-block__info">
              <div class="sticky-block__person"><img src="../images/quote1.jpg" alt="">
                <p>Orrin</p>
              </div>
              <div class="wp-editor">
                <p>Bij vragen en/of opmerkingen kun je mij tijdens kantoortijden bereiken op 085 40 16 344 of per mail op<br/><a href="mailto:test@test.com">test@test.com</a></p>
              </div>
            </div>
            <div class="gform_wrapper">
              <form action="#">
                <div class="validation_error">Message error</div>
                <div class="gform_heading">
                  <h3 class="gform_title">Title form</h3><span class="gform_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!</span>
                </div>
                <div class="gform_body">
                  <ul class="gform_fields">
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Naam<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <input type="text" placeholder="Naam">
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">E-mailadres</label>
                      <div class="ginput_container">
                        <input type="text" placeholder="E-mailadres">
                      </div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <textarea placeholder="Laat hier je vraag achter en ik kom zo snel mogelijk bij je terug!"></textarea>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">Checkbox input</label>
                      <div class="ginput_container ginput_container_checkbox">
                        <ul class="gfield_checkbox">
                          <li>
                            <input id="checkbox1" type="checkbox" name="checkbox">
                            <label for="checkbox1">Lorem ipsum &nbsp;<a href="#">algemene voorwaarden</a></label>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="gform_footer">
                  <input class="gform_button button" type="submit" value="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        <footer id="footer">
          <div class="footer__top" style="background-image: url('../images/testi_bg1.jpg');">
            <div class="row">
              <div class="columns small-12 medium-3">
                <ul class="menu">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">I want to improve my family’s Quality of Life</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                </ul><a href="#"><img src="../images/register.gif" alt=""></a>
              </div>
              <div class="columns small-12 medium-4">
                <div class="wp-editor">
                  <h3>SYDNEY HEAD OFFICE</h3>
                  <p>Suite 28, Level 1, Liberty Plaza, 256 Chapel Road South, Bankstown NSW 2200 Australia</p>
                  <h3>HO CHI MINH OFFICE</h3>
                  <p>Suite 1702, Level 17, Ruby Tower, 81 – 85 Ham Nghi Street, Nguyen Thai Binh Ward District 1 HCMC Vietnam</p>
                </div><span class="btn-2">Hotline in VN: 1800 2069</span>
              </div>
              <div class="columns small-12 medium-5 large-4 large-offset-1">
                <div class="gform_wrapper">
                  <form action="#">
                    <div class="validation_error">Message error</div>
                    <div class="gform_heading">
                      <h3 class="gform_title">Enquire Online</h3><span class="gform_description"></span>
                    </div>
                    <div class="gform_body">
                      <ul class="gform_fields">
                        <li class="gfield gfield_error gfield_contains_required col-2">
                          <label class="gfield_label">First name<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <input type="text" placeholder="First name">
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Last name</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Last name">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Email</label>
                          <div class="ginput_container">
                            <input type="email" placeholder="Email">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">City</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="City">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Age</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Age">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Mobile</label>
                          <div class="ginput_container">
                            <input type="number" placeholder="Mobile">
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Selectbox<span class="gfield_required">*</span></label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required">
                          <label class="gfield_label">Selectbox</label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <textarea placeholder="You can send us a message here"></textarea>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                      </ul>
                    </div>
                    <div class="gform_footer">
                      <input class="gform_button button" type="submit" value="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="row">
              <div class="columns small-12 medium-9">
                <p>Tien Thinh International Group Pty Ltd | ABN 47614436449 | info@ttimigration.com.au | Hotline in VN: 1800 2069</p>
                <p>Registered Migration Agent #1677976 |<a href="#"> Migration Agents Code of Conduct</a> | All Rights Reserved | Developed by<a href="#"> Flow Group</a></p>
              </div>
              <div class="columns small-12 medium-3">
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div><span class="scroll-top"></span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEorlK25R1V0WeC0zwcwyweiFAXII6S8"></script>
    <script src="../js/libs/jQuery.js"></script>
    <script src="../js/infobox.js"></script>
    <script src="../js/main.min.js"></script>
  </body>
</html>

wp-content/themes/ami/assets/pug/flexibleContent.pug
extends blocks/layout
block vars
    - var mainClass = 'home-page';
block title
    title Home page
block content

    main#main(class=mainClass)
        .default-block.bg-white-smoke.text-right.spacing-top-small
            .row
                .columns.medium-6.small-12
                    include blocks/flex-content
                .columns.medium-6.small-12
                    img(src="../images/default-image.png", alt="")
        .default-block.spacing-top.text-left
            .row
                .columns.medium-6.small-12
                    include blocks/flex-content
                .columns.medium-6.small-12
                    img(src="../images/default-image.png", alt="")
        .default-block.bg-gray.spacing-small.text-center
            .row
                .columns.medium-6.medium-order-2.small-12
                    include blocks/wp-editor
                .columns.medium-6.medium-order-1.small-12
                    img(src="../images/default-image.png", alt="")
        .quote-block.has-background.font-light(style="background-image: url(../images/banner-quote.jpg)")
            .row
                .column.small-12
                    p.title Hoe wij helpen anderen hun spaanse dromen waar te maken ...
                    p.desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .quote-block.bg-gray.font-dark.has-icon.txt-shadow
            .row
                .column.small-12
                    p.title Hoe wij helpen anderen hun spaanse dromen waar te maken ...
                    p.desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .column.small-12
                    .action-button
                        a(href="#", title="Lees meer").sb-btn.btn-primary-outline Lees meer
        .default-block.text-left
            .row
                .columns.small-12
                    .wp-editor
                        h2 button 1
                        p test
                        p.btn
                            a.sb-btn.btn-primary(href='http://oncozon.mijnstaging.nl', title='Primary') Primary
                            a.sb-btn.btn-primary-outline(href='http://oncozon.mijnstaging.nl', title='Secondary') Primary outline
                .columns.small-12.list-items
                    ul.grid-x.grid-margin-y.grid-margin-x.small-up-1.medium-up-2.large-up-4
                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog1.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...
                                span.sb-btn.btn-primary Lees artikel

                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog2.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...
                                span.sb-btn.btn-primary Lees artikel
                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog3.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                span.sb-btn.btn-primary Lees artikel
                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog1.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...
                                span.sb-btn.btn-primary Lees artikel
