wp-content/themes/ami/assets/html/image-text.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image text page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--Stylesheet-->
    <link href="../css/screen.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
        <header id="header">
          <div class="row">
            <div class="columns">
              <div class="header__logo"><a href="#"><img src="../images/logo1.png"></a></div>
              <nav id="main-menu">
                <ul>
                  <li class="current-menu-item"><a href="index.html">Home</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="menu-item-has-children"><a href="default.html">Default</a><span class="icon"></span>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="#" title="">Dit is een sub menu</a><span class="icon"></span>
                        <ul class="sub-menu">
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                </ul>
              </nav>
              <div class="header__bottom">
                <div class="copyright">
                  <p>Amimigration © 2018</p>
                </div>
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="off-canvas-content" data-off-canvas-content><span class="link-panel" data-toggle="offCanvasLeft1"><span></span></span>
        <main class="default-page" id="main">
          <div id="banner"><img src="../images/banner.jpg" alt=""></div>
          <div class="row">
            <div class="column">
              <div id="breadcrumbs"><span><span typeof="v:Breadcrumb"><a href="#">Home</a><span class="icon"></span><span><a href="#">Breadcrumb item 1</a><span class="icon"></span><span><a href="#">Breadcrumb item 2</a><span class="icon"></span><span>Current page</span></span></span></span></span></div>
              <div class="content-page">
                <h1>Title of the default page</h1>
                <div class="wp-editor">
                  <p>Visa định cư theo diện Kinh Doanh Đổi Mới & Nhà Đầu Tư (188/888) được chính phủ Úc mở ra nhằm thu hút các doanh nghiệp, nhà đầu tư, doanh nhân nước ngoài có kỹ năng kinh doanh đã được chứng minh, nhạy bén, có vốn để chuyển đến và mở doanh nghiệp kinh doanh tại Úc, chung tay góp phần cho sự đổi mới, khả năng cạnh tranh kinh tế và đà tăng trưởng kinh tế chung của đất nước Australia.</p>
                  <div class="row">
                    <div class="columns small-12 medium-5">
                      <h2>ĐỐI TƯỢNG PHÙ HỢP:</h2>
                      <p>Thị thực (Visa) này dành cho ai muốn sở hữu và quản lý doanh nghiệp mới hoặc có sẵn, hoặc thực hiện hoạt động đầu tư, tại Úc. Ban đầu, hầu hết doanh nhân và nhà đầu tư sẽ nhập cư vào Úc với thị thực Tạm Trú (visa 188) có thời hạn 4 năm để sinh sống và triển khai các hoạt động kinh doanh/đầu tư.</p>
                      <p>Trong vòng 4 năm này, người nộp đơn cần phải đáp ứng được những yêu cầu về doanh thu, thời gian cư trú tại Úc cùng những điều kiện khác trước khi tiến hành nộp đơn cho thị thực Thường Trú (visa 888).</p>
                    </div>
                    <div class="columns small-12 medium-7">
                      <h2>NHỮNG QUYỀN LỢI CHO NHÀ ĐẦU TƯ:</h2>
                      <ul class="accordion" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item><a class="accordion-title" href="#">Accordion 1</a>
                          <div class="accordion-content" data-tab-content>
                            <div class="wp-editor">
                              <p>Được: tự do đến và sinh sống, mở doanh nghiệp hoặc đầu tư tại Úc trong suốt thời gian Visa 188 cấp.</p>
                              <p>Được: mang theo các nhân thân phụ thuộc hợp lệ đến Úc.</p>
                              <p>Được hưởng những lợi ích sau đây:</p>
                            </div>
                          </div>
                        </li>
                        <li class="accordion-item" data-accordion-item><a class="accordion-title" href="#">Accordion 2</a>
                          <div class="accordion-content" data-tab-content>
                            <div class="wp-editor">
                              <p>Được: tự do đến và sinh sống, mở doanh nghiệp hoặc đầu tư tại Úc trong suốt thời gian Visa 188 cấp.</p>
                              <p>Được: mang theo các nhân thân phụ thuộc hợp lệ đến Úc.</p>
                              <p>Được hưởng những lợi ích sau đây:</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h3>CÓ 3 DIỆN CHÍNH:</h3>
                  <div class="row three-image">
                    <div class="columns small-12 medium-6 large-4">
                      <figure><img src="../images/188-A.png" alt=""></figure>
                      <p class="title">188B  - Nhà Đầu Tư</p>
                      <div class="three-image__info">
                        <div class="wp-editor">
                          <p>Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..</p>
                          <p>Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.</p>
                        </div>
                      </div>
                    </div>
                    <div class="columns small-12 medium-6 large-4">
                      <figure><img src="../images/188-B.png" alt=""></figure>
                      <p class="title">188B  - Nhà Đầu Tư</p>
                      <div class="three-image__info">
                        <div class="wp-editor">
                          <p>Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..</p>
                          <p>Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.</p>
                        </div>
                      </div>
                    </div>
                    <div class="columns small-12 medium-6 large-4">
                      <figure><img src="../images/188-C.png" alt=""></figure>
                      <p class="title">188B  - Nhà Đầu Tư</p>
                      <div class="three-image__info">
                        <div class="wp-editor">
                          <p>Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..</p>
                          <p>Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="sticky-block">
          <p class="sticky-block__title">Hoi, kan ik je helpen?</p>
          <div class="sticky-block__content">
            <div class="sticky-block__info">
              <div class="sticky-block__person"><img src="../images/quote1.jpg" alt="">
                <p>Orrin</p>
              </div>
              <div class="wp-editor">
                <p>Bij vragen en/of opmerkingen kun je mij tijdens kantoortijden bereiken op 085 40 16 344 of per mail op<br/><a href="mailto:test@test.com">test@test.com</a></p>
              </div>
            </div>
            <div class="gform_wrapper">
              <form action="#">
                <div class="validation_error">Message error</div>
                <div class="gform_heading">
                  <h3 class="gform_title">Title form</h3><span class="gform_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!</span>
                </div>
                <div class="gform_body">
                  <ul class="gform_fields">
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Naam<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <input type="text" placeholder="Naam">
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">E-mailadres</label>
                      <div class="ginput_container">
                        <input type="text" placeholder="E-mailadres">
                      </div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <textarea placeholder="Laat hier je vraag achter en ik kom zo snel mogelijk bij je terug!"></textarea>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">Checkbox input</label>
                      <div class="ginput_container ginput_container_checkbox">
                        <ul class="gfield_checkbox">
                          <li>
                            <input id="checkbox1" type="checkbox" name="checkbox">
                            <label for="checkbox1">Lorem ipsum &nbsp;<a href="#">algemene voorwaarden</a></label>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="gform_footer">
                  <input class="gform_button button" type="submit" value="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        <footer id="footer">
          <div class="footer__top" style="background-image: url('../images/testi_bg1.jpg');">
            <div class="row">
              <div class="columns small-12 medium-3">
                <ul class="menu">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">I want to improve my family’s Quality of Life</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                </ul><a href="#"><img src="../images/register.gif" alt=""></a>
              </div>
              <div class="columns small-12 medium-4">
                <div class="wp-editor">
                  <h3>SYDNEY HEAD OFFICE</h3>
                  <p>Suite 28, Level 1, Liberty Plaza, 256 Chapel Road South, Bankstown NSW 2200 Australia</p>
                  <h3>HO CHI MINH OFFICE</h3>
                  <p>Suite 1702, Level 17, Ruby Tower, 81 – 85 Ham Nghi Street, Nguyen Thai Binh Ward District 1 HCMC Vietnam</p>
                </div><span class="btn-2">Hotline in VN: 1800 2069</span>
              </div>
              <div class="columns small-12 medium-5 large-4 large-offset-1">
                <div class="gform_wrapper">
                  <form action="#">
                    <div class="validation_error">Message error</div>
                    <div class="gform_heading">
                      <h3 class="gform_title">Enquire Online</h3><span class="gform_description"></span>
                    </div>
                    <div class="gform_body">
                      <ul class="gform_fields">
                        <li class="gfield gfield_error gfield_contains_required col-2">
                          <label class="gfield_label">First name<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <input type="text" placeholder="First name">
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Last name</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Last name">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Email</label>
                          <div class="ginput_container">
                            <input type="email" placeholder="Email">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">City</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="City">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Age</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Age">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Mobile</label>
                          <div class="ginput_container">
                            <input type="number" placeholder="Mobile">
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Selectbox<span class="gfield_required">*</span></label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required">
                          <label class="gfield_label">Selectbox</label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <textarea placeholder="You can send us a message here"></textarea>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                      </ul>
                    </div>
                    <div class="gform_footer">
                      <input class="gform_button button" type="submit" value="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="row">
              <div class="columns small-12 medium-9">
                <p>Tien Thinh International Group Pty Ltd | ABN 47614436449 | info@ttimigration.com.au | Hotline in VN: 1800 2069</p>
                <p>Registered Migration Agent #1677976 |<a href="#"> Migration Agents Code of Conduct</a> | All Rights Reserved | Developed by<a href="#"> Flow Group</a></p>
              </div>
              <div class="columns small-12 medium-3">
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div><span class="scroll-top"></span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEorlK25R1V0WeC0zwcwyweiFAXII6S8"></script>
    <script src="../js/libs/jQuery.js"></script>
    <script src="../js/infobox.js"></script>
    <script src="../js/main.min.js"></script>
  </body>
</html>

wp-content/themes/ami/assets/pug/image-text.pug
extends blocks/layout
block vars
    - var mainClass = 'default-page';
block title
    title Image text page
block content
     main#main(class=mainClass)
        #banner
            img(src="../images/banner.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
                .content-page
                    h1 Title of the default page
                    .wp-editor
                        p Visa định cư theo diện Kinh Doanh Đổi Mới & Nhà Đầu Tư (188/888) được chính phủ Úc mở ra nhằm thu hút các doanh nghiệp, nhà đầu tư, doanh nhân nước ngoài có kỹ năng kinh doanh đã được chứng minh, nhạy bén, có vốn để chuyển đến và mở doanh nghiệp kinh doanh tại Úc, chung tay góp phần cho sự đổi mới, khả năng cạnh tranh kinh tế và đà tăng trưởng kinh tế chung của đất nước Australia.
                        .row
                            .columns.small-12.medium-5
                                h2 ĐỐI TƯỢNG PHÙ HỢP:
                                p Thị thực (Visa) này dành cho ai muốn sở hữu và quản lý doanh nghiệp mới hoặc có sẵn, hoặc thực hiện hoạt động đầu tư, tại Úc. Ban đầu, hầu hết doanh nhân và nhà đầu tư sẽ nhập cư vào Úc với thị thực Tạm Trú (visa 188) có thời hạn 4 năm để sinh sống và triển khai các hoạt động kinh doanh/đầu tư.
                                p Trong vòng 4 năm này, người nộp đơn cần phải đáp ứng được những yêu cầu về doanh thu, thời gian cư trú tại Úc cùng những điều kiện khác trước khi tiến hành nộp đơn cho thị thực Thường Trú (visa 888).
                            .columns.small-12.medium-7
                                h2 NHỮNG QUYỀN LỢI CHO NHÀ ĐẦU TƯ:
                                ul.accordion(data-accordion data-allow-all-closed="true")
                                    li(class="accordion-item" data-accordion-item)
                                        a.accordion-title(href="#") Accordion 1
                                        div(class="accordion-content" data-tab-content)
                                            .wp-editor
                                                p Được: tự do đến và sinh sống, mở doanh nghiệp hoặc đầu tư tại Úc trong suốt thời gian Visa 188 cấp.
                                                p Được: mang theo các nhân thân phụ thuộc hợp lệ đến Úc.
                                                p Được hưởng những lợi ích sau đây:
                                    li(class="accordion-item" data-accordion-item)
                                        a.accordion-title(href="#") Accordion 2
                                        div(class="accordion-content" data-tab-content)
                                            .wp-editor
                                                p Được: tự do đến và sinh sống, mở doanh nghiệp hoặc đầu tư tại Úc trong suốt thời gian Visa 188 cấp.
                                                p Được: mang theo các nhân thân phụ thuộc hợp lệ đến Úc.
                                                p Được hưởng những lợi ích sau đây:
                        h3 CÓ 3 DIỆN CHÍNH:
                        .row.three-image
                            .columns.small-12.medium-6.large-4
                                figure
                                    img(src="../images/188-A.png", alt="")
                                p.title 188B  - Nhà Đầu Tư
                                .three-image__info
                                    .wp-editor
                                        p Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..
                                        p Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.
                            .columns.small-12.medium-6.large-4
                                figure
                                    img(src="../images/188-B.png", alt="")
                                p.title 188B  - Nhà Đầu Tư
                                .three-image__info
                                    .wp-editor
                                        p Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..
                                        p Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.
                            .columns.small-12.medium-6.large-4
                                figure
                                    img(src="../images/188-C.png", alt="")
                                p.title 188B  - Nhà Đầu Tư
                                .three-image__info
                                    .wp-editor
                                        p Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..
                                        p Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.
