wp-content/themes/ami/assets/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--Stylesheet-->
    <link href="../css/screen.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
        <header id="header">
          <div class="row">
            <div class="columns">
              <div class="header__logo"><a href="#"><img src="../images/logo1.png"></a></div>
              <nav id="main-menu">
                <ul>
                  <li class="current-menu-item"><a href="index.html">Home</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li class="menu-item-has-children"><a href="default.html">Default</a><span class="icon"></span>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="#" title="">Dit is een sub menu</a><span class="icon"></span>
                        <ul class="sub-menu">
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                          <li><a href="#" title="">Dit is een sub sub menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                      <li><a href="#" title="">Dit is een sub menu</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                </ul>
              </nav>
              <div class="header__bottom">
                <div class="copyright">
                  <p>Amimigration © 2018</p>
                </div>
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="off-canvas-content" data-off-canvas-content><span class="link-panel" data-toggle="offCanvasLeft1"><span></span></span>
        <div id="banner-home"><a class="banner__item banner__item_video" href="https://www.youtube.com/embed/vY8lZ3rAVus" style="background-image:url(../images/banner2.jpg);"></a>
          <div class="banner__item" style="background-image:url(../images/banner2.jpg);">
            <div class="row align-middle align-right">
              <div class="column small-12 large-6">
                <div class="banner__content">
                  <div class="banner__title">The title banner h1 3</div>
                  <p> Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to ...</p>
                  <div class="slider__control">
                    <button class="slick-next" type="button">Next</button>
                    <button class="slick-prev" type="button">Previous</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__item" style="background-image:url(../images/banner1.jpg);">
            <div class="row align-middle align-right">
              <div class="column small-12 large-6">
                <div class="banner__content">
                  <div class="banner__title">The title banner h1</div>
                  <p> Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to ...</p>
                  <p class="text-right"><a class="read-more" href="#">Read more</a></p>
                  <div class="slider__control">
                    <button class="slick-next" type="button">Next</button>
                    <button class="slick-prev" type="button">Previous</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__item" style="background-image:url(../images/banner2.jpg);">
            <div class="row align-middle align-right">
              <div class="column small-12 large-6">
                <div class="banner__content">
                  <div class="banner__title">The title banner h1 2</div>
                  <p class="text-right"><a class="read-more" href="#">Read more</a></p>
                  <div class="slider__control">
                    <button class="slick-next" type="button">Next</button>
                    <button class="slick-prev" type="button">Previous</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main class="home-page" id="main">
          <div class="three-column">
            <div class="row align-center">
              <div class="column small-12 medium-10">
                <h2>Visa + requirement</h2>
              </div>
              <div class="columns small-12">
                <div class="grid-x grid-margin-x align-center">
                  <div class="cell medium-4" style="background-image: url('../images/dk1.png');">
                    <p><strong>Visa 188A:</strong></p>
                    <ul>
                      <li>● Doanh nghiệp đang sở hữu ở Việt Nam đạt doanh thu tối thiểu 500,000 AUD/ năm hai trong vòng 4 năm trước ngày nộp đơn.</li>
                      <li>● Tổng tài sản của vợ và chồng đạt mức 800,000 AUD.</li>
                      <li>● Đạt tối thiểu 65 điểm theo thang điểm di trú.</li>
                      <li>● Đầu tư tối thiểu 200,000 AUD vào một doanh nghiệp tại Úc.</li>
                    </ul>
                  </div>
                  <div class="cell medium-4" style="background-image: url('../images/dk2.png');">
                    <p><strong>Visa 188A:</strong></p>
                    <ul>
                      <li>● Doanh nghiệp đang sở hữu ở Việt Nam đạt doanh thu tối thiểu 500,000 AUD/ năm hai trong vòng 4 năm trước ngày nộp đơn.</li>
                      <li>● Tổng tài sản của vợ và chồng đạt mức 800,000 AUD.</li>
                      <li>● Đạt tối thiểu 65 điểm theo thang điểm di trú.</li>
                      <li>● Đầu tư tối thiểu 200,000 AUD vào một doanh nghiệp tại Úc.</li>
                    </ul>
                  </div>
                  <div class="cell medium-4" style="background-image: url('../images/dk3.png');">
                    <p><strong>Visa 188A:</strong></p>
                    <ul>
                      <li>● Doanh nghiệp đang sở hữu ở Việt Nam đạt doanh thu tối thiểu 500,000 AUD/ năm hai trong vòng 4 năm trước ngày nộp đơn.</li>
                      <li>● Tổng tài sản của vợ và chồng đạt mức 800,000 AUD.</li>
                      <li>● Đạt tối thiểu 65 điểm theo thang điểm di trú.</li>
                      <li>● Đầu tư tối thiểu 200,000 AUD vào một doanh nghiệp tại Úc.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="benefit-block">
            <div class="row align-center">
              <div class="column small-12 medium-10">
                <h2>Benefit</h2>
              </div>
            </div>
            <div class="benefit-block__content" style="background-image: url('../images/banner1.jpg');"> 
              <div class="row align-center">
                <div class="columns small-12 medium-6 large-3"><span class="fa-book fa"></span>
                  <p> <strong>Được hưởng đầy đủ quyền lợi của công dân bản xứ bao gồm quyền học tập và y tế hoàn toàn miễn phí</strong></p>
                  <ul>
                    <li>● Con cái được học tập hoàn toàn miễn phí từ bậc tiểu học cho đến hết Trung học phổ thông. Mức học phí đại học chỉ bằng 1/3 so với du học sinh, được ưu tiên nhận vào các trường đại học hàng đầu.</li>
                    <li>● Cả gia đình được hưởng chế độ chăm sóc sức khỏe hoàn toàn miễn phí</li>
                  </ul>
                </div>
                <div class="columns small-12 medium-6 large-3"><span class="fa-shield fa"></span>
                  <p> <strong>Thẻ thường trú nhân cho cả gia đình</strong></p>
                  <ul>
                    <li>● Nhà đầu tư và các thành viên trong gia đình có quyền tự do đi lại sinh sống, học tập và làm việc tại Úc.</li>
                  </ul>
                </div>
                <div class="columns small-12 medium-6 large-3"><span class="fa-globe fa"></span>
                  <p> <strong>Được quyền bảo lãnh người thân sau một thời gian sinh sống tại Úc</strong></p>
                </div>
                <div class="columns small-12 medium-6 large-3"><span class="fa-plane fa"></span>
                  <p> <strong>Tự do đi lại giữa Úc và New Zealand</strong></p>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-block">
            <div class="row align-center">
              <div class="column small-12 medium-10">
                <h2>Progress</h2>
              </div>
            </div>
            <div class="progress-block__content" style="background-image: url('../images/uc-25-07-2017-4-1.jpg');">
              <div class="row">
                <div class="column">
                  <ul>
                    <li> 
                      <h3>01</h3>
                      <p>Chuẩn bị hồ sơ <strong>(1-2 tháng)</strong></p>
                    </li>
                    <li> 
                      <h3>02</h3>
                      <p>Đăng ký hồ sơ chọn lọc trực tuyến</p>
                    </li>
                    <li> 
                      <h3>03</h3>
                      <p>Nộp hồ sơ xin bảo lãnh ban <strong>(1-2 tháng)</strong></p>
                    </li>
                    <li> 
                      <h3>04</h3>
                      <p>Nộp hồ sơ đến Bộ Di Trú Úc (chờ 9 đến 16 tháng)</p>
                    </li>
                    <li> 
                      <h3>05</h3>
                      <p>Thực hiện việc mua trái phiếu (đối với diện đầu tư)</p>
                    </li>
                    <li> 
                      <h3>06</h3>
                      <p>Visa được cấp</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="partner-block" style="background-image: url('../images/297941-alexfas01.jpg');">
            <div class="row align-center">
              <div class="column medium-10 text-center">
                <h2>Partner</h2>
                <ul>
                  <li><a href="#"><img src="../images/partner-logo1.jpg" alt=""></a></li>
                  <li><a href="#"><img src="../images/partner-logo2.png" alt=""></a></li>
                  <li>
                    <figure><img src="../images/partner-logo3.png" alt=""></figure>
                  </li>
                  <li><a href="#"><img src="../images/partner-logo4.png" alt=""></a></li>
                </ul>
                <p>  <a class="btn-3" href="#">Read more</a></p>
              </div>
            </div>
          </div>
        </main>
        <div class="sticky-block">
          <p class="sticky-block__title">Hoi, kan ik je helpen?</p>
          <div class="sticky-block__content">
            <div class="sticky-block__info">
              <div class="sticky-block__person"><img src="../images/quote1.jpg" alt="">
                <p>Orrin</p>
              </div>
              <div class="wp-editor">
                <p>Bij vragen en/of opmerkingen kun je mij tijdens kantoortijden bereiken op 085 40 16 344 of per mail op<br/><a href="mailto:test@test.com">test@test.com</a></p>
              </div>
            </div>
            <div class="gform_wrapper">
              <form action="#">
                <div class="validation_error">Message error</div>
                <div class="gform_heading">
                  <h3 class="gform_title">Title form</h3><span class="gform_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!</span>
                </div>
                <div class="gform_body">
                  <ul class="gform_fields">
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Naam<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <input type="text" placeholder="Naam">
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">E-mailadres</label>
                      <div class="ginput_container">
                        <input type="text" placeholder="E-mailadres">
                      </div>
                    </li>
                    <li class="gfield gfield_error gfield_contains_required">
                      <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                      <div class="ginput_container">
                        <textarea placeholder="Laat hier je vraag achter en ik kom zo snel mogelijk bij je terug!"></textarea>
                      </div>
                      <div class="validation_message">Validate message</div>
                    </li>
                    <li class="gfield gfield_contains_required">
                      <label class="gfield_label">Checkbox input</label>
                      <div class="ginput_container ginput_container_checkbox">
                        <ul class="gfield_checkbox">
                          <li>
                            <input id="checkbox1" type="checkbox" name="checkbox">
                            <label for="checkbox1">Lorem ipsum &nbsp;<a href="#">algemene voorwaarden</a></label>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="gform_footer">
                  <input class="gform_button button" type="submit" value="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        <footer id="footer">
          <div class="footer__top" style="background-image: url('../images/testi_bg1.jpg');">
            <div class="row">
              <div class="columns small-12 medium-3">
                <ul class="menu">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">I want to improve my family’s Quality of Life</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                </ul><a href="#"><img src="../images/register.gif" alt=""></a>
              </div>
              <div class="columns small-12 medium-4">
                <div class="wp-editor">
                  <h3>SYDNEY HEAD OFFICE</h3>
                  <p>Suite 28, Level 1, Liberty Plaza, 256 Chapel Road South, Bankstown NSW 2200 Australia</p>
                  <h3>HO CHI MINH OFFICE</h3>
                  <p>Suite 1702, Level 17, Ruby Tower, 81 – 85 Ham Nghi Street, Nguyen Thai Binh Ward District 1 HCMC Vietnam</p>
                </div><span class="btn-2">Hotline in VN: 1800 2069</span>
              </div>
              <div class="columns small-12 medium-5 large-4 large-offset-1">
                <div class="gform_wrapper">
                  <form action="#">
                    <div class="validation_error">Message error</div>
                    <div class="gform_heading">
                      <h3 class="gform_title">Enquire Online</h3><span class="gform_description"></span>
                    </div>
                    <div class="gform_body">
                      <ul class="gform_fields">
                        <li class="gfield gfield_error gfield_contains_required col-2">
                          <label class="gfield_label">First name<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <input type="text" placeholder="First name">
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Last name</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Last name">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Email</label>
                          <div class="ginput_container">
                            <input type="email" placeholder="Email">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">City</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="City">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Age</label>
                          <div class="ginput_container">
                            <input type="text" placeholder="Age">
                          </div>
                        </li>
                        <li class="gfield gfield_contains_required col-2">
                          <label class="gfield_label">Mobile</label>
                          <div class="ginput_container">
                            <input type="number" placeholder="Mobile">
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Selectbox<span class="gfield_required">*</span></label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                        <li class="gfield gfield_contains_required">
                          <label class="gfield_label">Selectbox</label>
                          <div class="ginput_container ginput_container_select">
                            <select>
                              <option>Option A</option>
                              <option>Option B</option>
                              <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit</option>
                            </select>
                          </div>
                        </li>
                        <li class="gfield gfield_error gfield_contains_required">
                          <label class="gfield_label">Area box<span class="gfield_required">*</span></label>
                          <div class="ginput_container">
                            <textarea placeholder="You can send us a message here"></textarea>
                          </div>
                          <div class="validation_message">Validate message</div>
                        </li>
                      </ul>
                    </div>
                    <div class="gform_footer">
                      <input class="gform_button button" type="submit" value="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="row">
              <div class="columns small-12 medium-9">
                <p>Tien Thinh International Group Pty Ltd | ABN 47614436449 | info@ttimigration.com.au | Hotline in VN: 1800 2069</p>
                <p>Registered Migration Agent #1677976 |<a href="#"> Migration Agents Code of Conduct</a> | All Rights Reserved | Developed by<a href="#"> Flow Group</a></p>
              </div>
              <div class="columns small-12 medium-3">
                <div class="socials"><a class="fb" href="#"></a><a class="tw" href="#"></a><a class="google" href="#"></a><a class="linked" href="#"></a><a class="youtube" href="#"></a></div><span class="scroll-top"></span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEorlK25R1V0WeC0zwcwyweiFAXII6S8"></script>
    <script src="../js/libs/jQuery.js"></script>
    <script src="../js/infobox.js"></script>
    <script src="../js/main.min.js"></script>
  </body>
</html>

wp-content/themes/ami/assets/pug/index.pug
extends blocks/layout
block vars
    - var mainClass = 'home-page';
block title
    title Home page
block content
    #banner-home
        a(href="https://www.youtube.com/embed/vY8lZ3rAVus").banner__item.banner__item_video(style="background-image:url(../images/banner2.jpg)")
        .banner__item(style="background-image:url(../images/banner2.jpg)")
            .row.align-middle.align-right
                .column.small-12.large-6
                    .banner__content
                        .banner__title The title banner h1 3
                        p  Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to ...
                        .slider__control
                            button(type="button" class="slick-next") Next
                            button(type="button" class="slick-prev") Previous
        .banner__item(style="background-image:url(../images/banner1.jpg)")
            .row.align-middle.align-right
                .column.small-12.large-6
                    .banner__content
                        .banner__title The title banner h1
                        p  Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to ...
                        p.text-right
                            a.read-more(href="#") Read more
                        .slider__control
                            button(type="button" class="slick-next") Next
                            button(type="button" class="slick-prev") Previous
        .banner__item(style="background-image:url(../images/banner2.jpg)")
            .row.align-middle.align-right
                .column.small-12.large-6
                    .banner__content
                        .banner__title The title banner h1 2
                        p.text-right
                            a.read-more(href="#") Read more
                        .slider__control
                            button(type="button" class="slick-next") Next
                            button(type="button" class="slick-prev") Previous
    main#main(class=mainClass)
        include blocks/three-column
        include blocks/block-benefit
        include blocks/progress
        include blocks/partner
